<title>Add a Question</title>
<a href="#/">Home</a> | <a href="#/new_question">Add a Question</a> | <a ng-click="logout()" href="#/logout">Logout</a><br><br>
<h1>New Question</h1>
<p ng-if="errors">{{errors}}</p>
<form ng-submit="new_question()">
	Question <input name="question" type="text" ng-model="question.question" ng-minlength="15" required><br>
	Correct Answer <input name="correct_answer" type="text" ng-model="question.correct_answer" required><br>
	Fake Answer 1 <input name="fake_answer1" type="text" ng-model="question.fake_answer1" required><br>
	Fake Answer 2 <input name="fake_answer2" type="text" ng-model="question.fake_answer2" required><br>
	<a href="#/"><button>Cancel</button></a>
	<input type="submit" value="Add a Question">
</form>
